<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-name">けんたろうのサイト</div>
      <ul class="header-menu">
        <li>home</li>
        <li>about</li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
